<div class="container p-4">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="col-md-6 offset-3">
        <nb-card>
          <nb-card-header>
            <div align="center">
              <a href="#"><img src="../../../../assets/favicon1.png" /></a
              >&nbsp;
              <span>GRAYMATICS</span>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="mt-3 mb-3">
              <div class="pl-5 pr-5">
                <button
                  class="btn-block"
                  [status]="'success'"
                  nbButton
                  (click)="openModal(uploadVideoTemplate)"
                >
                  Upload Video
                </button>
                <button
                  class="btn-block"
                  [status]="'success'"
                  nbButton
                  (click)="openModal(processVideoTemplate)"
                >
                  Process Video
                </button>
                <button
                  class="btn-block"
                  [status]="'warning'"
                  nbButton
                  (click)="openVideoModal(playVideoTemplate)"
                >
                  Open Video
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
<ng-template #playVideoTemplate>
  <div>
    <nb-card>
      <nb-card-header>
        <h6>Play Video</h6>
      </nb-card-header>
      <nb-card-body>
        <div id="instructions" *ngIf="!videoExists">
          <span><b> There have no video yet!</b></span>
        </div>
        <!-- <div id="instructions" *ngIf="videoUrl">
          <video
            id="play_video"
            class="video-js vjs-default-skin"
            width="640px"
            height="267px"
            controls
            preload="none"
            poster="http://13.76.172.134:3300/api/pictures/favicon1.ico"
            data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
          >
            <source [src]="videoUrl" type="video/mp4" />
          </video>
        </div> -->
        <div id="instructions" *ngIf="videoExists">
          <video id="videoPlayer" width="650" controls muted="muted" autoplay>
            <source [src]="videoUrl" type="video/mp4" />
          </video>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <!-- <button
          class="btn-block"
          [status]="'warning'"
          nbButton
          (click)="playPause()"
          [disabled]="!videoUrl"
        >
          Play/Pause
        </button> -->
        <button class="btn-block" nbButton (click)="closeModal()">
          CLOSE
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>

<ng-template #processVideoTemplate>
  <div class="pb-5">
    <nb-card class="pb-5">
      <nb-card-header>
        <h6>Process Video</h6>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="processForm" (ngSubmit)="onProcessVideoSubmit()">
          <div>
            <span><b>Start Time: </b></span>
            <input
              id="startTime"
              nbInput
              type="text"
              [nbTimepicker]="startTimepicker"
              formControlName="startTime"
            />
            <nb-timepicker #startTimepicker withSeconds></nb-timepicker>
            <button
              type="button"
              class="btn-sm"
              [status]="'primary'"
              nbButton
              (click)="clearStartOrEnd('startTime')"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div style="display: block" class="pt-2">
            <span><b>End Time: </b></span>
            <input
              id="endTime"
              nbInput
              type="text"
              [nbTimepicker]="endTimepicker"
              formControlName="endTime"
            />
            <nb-timepicker #endTimepicker withSeconds></nb-timepicker>
            <button
              type="button"
              class="btn-sm"
              [status]="'primary'"
              nbButton
              (click)="clearStartOrEnd('endTime')"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div style="display: block" class="pt-2">
            <span><b>Frames: </b></span>
            <input
              nbInput
              type="number"
              placeholder="Enter Frames"
              formControlName="frames"
            />
            <p
              *ngIf="
                !processForm.controls.frames.valid &&
                processForm.controls.frames.touched
              "
              class="error text-danger mb-1"
            >
              <span *ngIf="processForm.controls.frames.hasError('min')">
                Frames value must be atleast 5400.
              </span>
            </p>
          </div>
          <div class="pt-2">
            <button
              class="btn-block"
              [status]="'primary'"
              nbButton
              type="submit"
              [disabled]="
                !processForm.valid ||
                (processForm.controls.startTime.value !== '' &&
                  processForm.controls.endTime.value === '') ||
                (processForm.controls.startTime.value === '' &&
                  processForm.controls.endTime.value !== '')
              "
            >
              Process
            </button>
          </div>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button class="btn-block" nbButton (click)="closeModal()">
          CLOSE
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>

<ng-template #uploadVideoTemplate>
  <div class="pb-5">
    <nb-card class="pb-5">
      <nb-card-header>
        <h6>Upload Video</h6>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="uploadForm" (ngSubmit)="onProcessVideoSubmit()">
          <div style="display: block" class="pt-2">
            <span><b>Upload Video: </b></span>
            <input
              nbInput
              type="file"
              accept="video/*" 
              placeholder="Upload Video"
              formControlName="uploadVideo"
            />
          </div>
          <div class="pt-2">
            <button
              class="btn-block"
              [status]="'primary'"
              nbButton
              type="submit"
              [disabled]="!uploadForm.valid"
            >
              Upload Video
            </button>
          </div>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button class="btn-block" nbButton (click)="closeModal()">
          CLOSE
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>
